<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="../css/styles.css" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<a n:if="!$user->isLoggedIn()" n:href="Account:login">Login</a>
	<a n:if="$user->isLoggedIn()" n:href="Account:logout">Logout</a><br>
	<a n:if="$user->isLoggedIn()" n:href="Notes:">Poznámky</a><br>
	<a n:if="$user->isLoggedIn()" n:href="Notes:add">Přidat poznámku</a>

	{include content}

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
