{block content}

{form login}
    <table>
        <tr>
            <th>{label username /}</th>
            <td>{input username}</td>
        </tr>
        <tr>
            <th>{label password /}</th>
            <td>{input password}</td>
        </tr>
        <tr>
            <td colspan="2">{input submit}</td>
        </tr>
    </table>
{/form}