{block content}

<h2>Přidat poznámku</h2>
{form add}
    <table>
        <tr>
            <th>{label title /}</th>
            <td>{input title}</td>
        </tr>
        <tr>
            <th>{label text /}</th>
            <td>{input text}</td>
        </tr>
        <tr>
            <td colspan="2">{input submit}</td>
        </tr>
    </table>
{/form}