{block content}

<table class="notes">
    <tr>
        <th>Titulek</th>
        <th>Text</th>
        <th>Vytvořeno dne</th>
        <th>Akce</th>
    </tr>
    <tr n:foreach="$notes as $id => $note">
        <td>{$note->title}</td>
        <td>{$note->text}</td>
        <td>{$note->created}</td>
        <td>
            <a n:href="Notes:edit $id">Upravit</a>
            <a n:href="Notes:delete $id">Smazat</a>
        </td>
    </tr>
</table>