{block content}


<h2>Editovat poznámku</h2>
{form edit}
    <table>
        <tr>
            <th>{label title /}</th>
            <td>{input title}</td>
        </tr>
        <tr>
            <th>{label text /}</th>
            <td>{input text}</td>
        </tr>
        <tr>
            <td colspan="2">
                {input id}
                {input submit}
            </td>
        </tr>
    </table>
{/form}